@model IEnumerable<MVC_Day1_Homework.ViewModels.AssetViewModel>

@{
    ViewBag.Title = "GetAssetList";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>

            @foreach (var item in Model.Select((value, index) => new { value, index }))
            {
                var category = (@item.value.Category == true) ? "收入" : "支出";
                <tr>
                    <td>@(item.index + 1)</td>
                    <td>@category</td>
                    <td>@(item.value.Date.ToString("yyyy-MM-dd"))</td>
                    <td>@(item.value.Money.ToString("N0"))</td>
                </tr>
            }
            </table>
    </div>
</div>

